.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }
  
  &-blog-title {
    // color: $default-shade;
    // font-family: $sans-font;
    font-size: 2rem;
    // margin: 1rem 0;
    text-align: right;
  }
  
  &-blog-description {
    // color: $default-shade;
    // font-family: $sans-font;
    font-size: 1.4rem;
    margin: .5rem 0 0 5rem;
    text-align: justify;
    text-align-last: right;
  }

  @media (min-width: 600px) {
    &-blog-description {
      // color: $default-shade;
      // font-family: $sans-font;
      font-size: 1.05rem;
      margin: .5rem 0 0 5rem;
      text-align: justify;
      text-align-last: right;
    }
  }

  &-line {
    border-top: .4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  @media (max-width: 600px) {
    p {
      font-size: 1.4rem;
      text-align: left;
    }

    h2 {
      font-size: 110%;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .wider {
    text-align: center;
    // position: absolute;
    // background-color: yellow;
    // margin: 0 auto;
    // height: 1000px;
    width: 1000px;
    left: 0;
  }
}
