<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2><i class="fas fa-igloo"></i></h2>
        </a>
        <ul>
          <!-- <li><a href="{{ '/blog' | prepend: site.baseurl }}">About</a></li> -->
          <!-- <li><a href="{{ site.baseurl }}/CV">CV</a></li> -->
          {% assign pages_list = site.pages | sort: 'navigation_order' %}
          {% assign group = 'navigation' %}
          {% include pages_list.html %}
          
          <!-- deal with the blog differently, since it can't have a permalink -->
          {% if page.url contains 'blog' %}
            <li><a href="{{site.baseurl}}/blog" class="active">Blog</a></li>
          {% else %}
            <li><a href="{{site.baseurl}}/blog">Blog</a></li>
          {% endif %}
          <!-- --------------------------------------------------------------- -->
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

  
  {% include footer.html %}

  {% include script.html %}

  </body>
</html>
