---
layout: default
---

<!-- Look the author details up from the site config. -->
{% assign author = site.authors[page.author] %}

<div class="post">
  <div class="post-info">
    {% if page.lang=='pt' %}
      <span>Escrito por&nbsp;</span>{{ author.display }}
      {% if page.date %}
        <!-- <br> -->
        <span>a</span>
        <!-- <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time> -->
        <time datetime="{{ page.date }}">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}de Janeiro
          {% when '2' %}de Fevereiro
          {% when '3' %}de Março
          {% when '4' %}de Abril
          {% when '5' %}de Maio
          {% when '6' %}de Junho
          {% when '7' %}de Julho
          {% when '8' %}de Agosto
          {% when '9' %}de Setembro
          {% when '10' %}de Outubro
          {% when '11' %}de Novembro
          {% when '12' %}de Dezembro
        {% endcase %}
        de {{ page.date | date: "%Y" }}
        </time>
      {% endif %}

    {% else %}
      <span>Written by&nbsp;</span>{{ author.display }}
      {% if page.date %}
        <!-- <br> -->
        <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% endif %}
    
    {% endif %}
    
    <br> • 

    {% if page.comments %}
      <a href="{{ page.url | prepend: site.url  }}#disqus_thread">0 Comments</a> •
    {% endif %}

    {% assign words = content | number_of_words %}
    {% if words < 180 %}
      1 min read
    {% else %}
      {{ words | divided_by:150 }} min read
    {% endif %}
    •
  </div>
  <div class="pagination">
  {% if page.next.url %}
    <a title="Previous post" href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a title="Next post" href="{{ page.previous.url | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}
  </div>
  
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
